{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title> Gerenciador de Fontes</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gerenciador.css' %}">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand">
        <div class="container-fluid d-flex flex-row justify-content-start">
            <button class="btn" type="button" id="botaoVoltar">
                <a href="/">
                    <i class="material-icons" id="icon">arrow_back</i>
                </a>
            </button>
                <span class="navbar-text" id="NavText">Gerenciador de Fontes</span>
        </div>
    </nav>
    <div class="container-md" id="containerBody">
        <form class="d-flex" method="POST">
            {% csrf_token %}
            <input class="form-control form-control-lg" type="url" placeholder="URL da Fonte" aria-label="Add" id="InputAdicionar">
            <button class="btn" type="submit" id="botaoAdd">Adicionar</button>
        </form>
        <div class="container-md" id="containerFontes">
        {% for fontes in urls %}
                <form class="del d-flex justify-content-between" method="POST">
                    {% csrf_token %}
                    <a href="{{fontes}}" class="d-flex align-items-center">{{fontes}}</a>
                    <button class="btn btn-danger ml-1" type="submit" name="id">
                        <i class="material-icons">delete_forever</i>
                    </button>
                </form>
                <br>
        {% endfor %}
        <!-- <button class="btn btn-danger" type="submit" id="BotaoApagar">
            <i class="material-icons">delete_forever</i>
        </button>         -->
        </div>
    </div>
</body>

</html>


<!-- {% for fontes in urls %}
        <a href="{{fontes}}">Link da notícia</a>
        {% endfor %} -->