* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9F3FB;
}

nav {
    background-color: #C3AED9;
    font-family: montserrat;
    font-weight: 600;
}

#NavText {
    font-size: 30px;
    color: #3f1651;
}

#icon{
    padding-top: 10px;
    font-size: 30px;
    color: #3f1651;
}

span{
    margin-left: 20px;
}

#botaoVoltar{
    margin-left: 15px;
}

#botaoVoltar:hover{
    background-color: #a47dba;
}

/* Body */

#containerBody{
    height: auto;
    margin-top: 30px;
}

#botaoAdd{
    background-color: rgb(202, 202, 202);
    margin-left: 30px;
}

#botaoAdd:hover{
    background-color: #a47dba;
    font-weight: 600;
}

#containerFontes{
    height: auto;
    margin-top: 30px;
}

#TabelaTexto{
    font-size: 30px;
}

#Link{
    font-size: 20px;
}
#BotaoDel{
    font-size: 20px;
}

#DeleteIcon{
    font-size: 28px;
    height: 35px;
}