/* Configurações Gerais e Body */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E9F3FB;
}

/* Barra de Navegação */
nav{
    background-color: #C3AED9;
    font-weight: 600;
}

nav, #menuHeader, #menuBody{
    font-family: montserrat;
}

#NavbarText{
    font-size: 30px;
    padding-left: 20px;
    color: #3f1651;
}

/* Buscador */
form{
    margin: 40px;
    justify-content: center;
}

.form-control{
    border: 3px #000000 solid;
}

.btn{
    background-color: rgb(202, 202, 202);
    margin-left: 30px;
}

.btn:hover{
    background-color: #84A6D3;
    font-weight: 700;
}

hr{
    border-top: 3px solid black;
}

/* Offcanvas */
#menu{
    background-color: #9c3587;
}

#Sobre, #Gerenciador{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}

#Sobre:hover, #Gerenciador:hover{
    text-decoration: underline;
}

#iconMenu{
    padding-top: 7px;
    font-size: 30px;
    color: #3f1651;
}

#botaoMenu{
    background-color: #C3AED9;
    margin-left: 15px;
}

#botaoMenu:hover{
    background-color: #a47dba; 
}

#botaoSair{
    font-size: 20px;
    color: #FFFFFF !important;
}

#menuBody{
    padding-top: 0;
}

#menuHeader{
    padding-bottom: 0;
}

#MenuTitulo{
    font-weight: 600;
}

#MenuTitulo, #Sobre, #Gerenciador{
    color: #FFFFFF;
}